// Specific CSS for your home-page
.app {
  margin: auto;
  width: 1100px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #1A3066;
  h1 {
    margin: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 55px;
  }
}
