.new_booking_form {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  margin: auto;
  text-align: center;
  background-color: #e7eeff;
  font-size: 20px;
  border-radius: 5px;
  position: sticky;
  top: 20px;
}

.new_booking_form button {
  width: 200px;
  color: #e7eeff;
  background-color: #484dff;
  border: none;
  &:hover {
    background-color: #1a3066;
  }
}

.new_booking_form input {
  width: 200px;
  margin: 10px 0 20px 0;
}
